body{
  background-color: grey;
}
header{ background-color: lightblue;
}
main{
  background-color: lightblue;
}
section{
  background-color: lightblue;
}
aside{
  background-color: lightblue;
}
article{ background-color: lightblue;
}
